In [32]:
import pandas as pd 
import numpy as np

# Solución 1: El Diagnóstico Técnico (.info)

In [33]:
data_company = {
    'nombres': ['Ana', 'Carlos','Luis','Maria'],
    'fecha_ingreso':['2020-01-01','2021-05-20','2019-11-15','2022-03-10'],
    'salario':[2500, 3000, None, 4000]
}

#Convertimos a DataFrame
df=pd.DataFrame(data_company)

print("--- Información del DataFrame ---")
df.info(memory_usage='deep')

--- Información del DataFrame ---
<class 'pandas.DataFrame'>
RangeIndex: 4 entries, 0 to 3
Data columns (total 3 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   nombres        4 non-null      str
 1   fecha_ingreso  4 non-null      str
 2   salario        3 non-null      float64
dtypes: float64(1), str(2)
memory usage: 614.0 bytes

# Solución 2: Sherlock Holmes Matemático (.describe)

In [34]:
data_hospital ={
    'pacientes': ['A', 'B', 'C', 'D', 'E'],
    'edad': [25, 30, -5, 45, 150],
    'Altura_cm': [170, 165, 180, 160, 10]
}

#Crear dataframe
df=pd.DataFrame(data_hospital)

print("--- Resumen estadísticodel DataFrame ---")
df.describe()

--- Resumen estadísticodel DataFrame ---

             edad   Altura_cm
count    5.000000    5.000000
mean    49.000000  137.000000
std     59.308515   71.379269
min     -5.000000   10.000000
25%     25.000000  160.000000
50%     30.000000  165.000000
75%     45.000000  170.000000
max    150.000000  180.000000

# El Sesgo del Orden (.sample vs .head)

In [35]:
word_list=['Correcta']*20

#Convertir a DataFrame
df=pd.DataFrame(word_list)

#Cambiar elemento accediendo mendiante el index
df.loc[14] = "ERROR CRÍTICO"

print("--- Inspeccionar rápidamente ---")
print("Usando .head()", df.head(5))
print("Usando .sample()",df.sample(10))

--- Inspeccionar rápidamente ---
Usando .head()           0
0  Correcta
1  Correcta
2  Correcta
3  Correcta
4  Correcta
Usando .sample()            0
2   Correcta
6   Correcta
4   Correcta
18  Correcta
1   Correcta
16  Correcta
3   Correcta
7   Correcta
9   Correcta
13  Correcta

# Conclusión
Validar datos utilizando únicamente el método .head() no es suficiente porque este solo permite observar las primeras filas del conjunto de datos, lo que puede generar una falsa sensación de que la información es correcta y homogénea. Como se evidencia en el ejemplo, aunque las primeras observaciones contienen valores aparentemente válidos, existe un error crítico ubicado en una posición intermedia del DataFrame que .head() no logra detectar. Por ello, es necesario complementar la inspección con otros métodos como .sample() o revisiones más exhaustivas, que permitan analizar datos en distintas posiciones y así identificar inconsistencias, errores atípicos o valores inesperados que podrían afectar el análisis y la toma de decisiones.

# Solución 4: El Mapa de Calor de Nulos (.isna)

In [ ]:
satSurvey ={
    'id': [1, 2, 3, 4, 5],
    'satisfaccion (1-10)' : [8, None, 10, None, 5],
    'comentario': ['Bueno', 'Regular', None, None, 'Malo']
}

#Convertir a DataFrame
df=pd.DataFrame(satSurvey)

print("\nCantidad de valores nulos por columna:")
print(df.isna().sum())

Cantidad de valores nulos:
id                     0
satisfaccion (1-10)    2
comentario             2
dtype: int64