In [3]:
import pandas as pd

# Solución 1: El Menú de la Cafetería

In [4]:
#Creación del DataFrame con los datos
df_bebidas=pd.DataFrame({
    "Bebida": ["Capuchino", "Mocca", "Espresso", "Frappuccino", "Americano"],
    "Precio": [3.50, 4.00, 2.50, 5.00, 3.00],
    "Calorias": [250, 300, 150, 450, 200],
    "Ventas_Dia": [10, 15, 8, 5, 12]
}, index=["BE01", "BE02", "BE03", "BE04", "BE05"])

print(df_bebidas)


#Selección Humana
df_moca=df_bebidas.loc["BE02"]
print("---Bebida Humana---")
print(df_moca)

#Selección Robot
print("---Bebida Robotica---")
print(df_bebidas.iloc[2])

#Selección por etiqueta
df_calorias = df_bebidas.loc["BE04","Calorias"]
print("Calorías: ",df_calorias)

           Bebida  Precio  Calorias  Ventas_Dia
BE01    Capuchino     3.5       250          10
BE02        Mocca     4.0       300          15
BE03     Espresso     2.5       150           8
BE04  Frappuccino     5.0       450           5
BE05    Americano     3.0       200          12
---Bebida Humana---
Bebida        Mocca
Precio          4.0
Calorias        300
Ventas_Dia       15
Name: BE02, dtype: object
---Bebida Robotica---
Bebida        Espresso
Precio             2.5
Calorias           150
Ventas_Dia           8
Name: BE03, dtype: object
Calorías:  450

# Solución 2: El Ranking de Netflix

In [5]:
#Creación del DataFrame con sus datos
peliculas =pd.DataFrame({
    "Título": ["Matrix", "Titanic", "John Wick", "Shrek", "Saw"],
    "Vistas": [1000, 950, 800, 750, 600],
    "Género": ["Sci-Fi", "Drama", "Acción", "Comedia", "Terror"]
},index = ["MO01", "MO02", "MO03", "MO04", "MO05"])

#Crear Sub-DataFrame con .loc
df_peliculas = peliculas.loc[: "MO03"]
print("CON LOC")
print(df_peliculas)

#Crear Sub-DataFrame con .iloc
df__peliculas = peliculas.iloc[0:3, 0:3]
print("CON ILOC")
print(df__peliculas)

CON LOC
         Título  Vistas  Género
MO01     Matrix    1000  Sci-Fi
MO02    Titanic     950   Drama
MO03  John Wick     800  Acción
CON ILOC
         Título  Vistas  Género
MO01     Matrix    1000  Sci-Fi
MO02    Titanic     950   Drama
MO03  John Wick     800  Acción

# Solución 3:El Corrector de Errores

In [6]:
df_inventario = pd.DataFrame ({
    "Producto": ["Monitor", "Mouse", "Teclado"],
    "Stock": [10, -5, 50],
    "Precio": [120, 25, 5000]
},index=["INV-001", "INV-002", "INV-003"])

print("DataFrame con datos originales")
print(df_inventario)

#Corrige el Precio del Teclado y cámbialo a 50
df_inventario.loc['INV-003', 'Precio'] = 50

#Corrige el Stock del Mouse y cámbialo a 20
df_inventario.loc['INV-002', 'Stock'] = 20

print("Datos Actualizados")
print(df_inventario)

DataFrame con datos originales
        Producto  Stock  Precio
INV-001  Monitor     10     120
INV-002    Mouse     -5      25
INV-003  Teclado     50    5000
Datos Actualizados
        Producto  Stock  Precio
INV-001  Monitor     10     120
INV-002    Mouse     20      25
INV-003  Teclado     50      50

# Solución 4:El Francotirador (.at vs .iat)

In [8]:
ventas_dias=df_bebidas.at['BE05','Ventas_Dia']
print("Ventas del Día: ",ventas_dias)

ventas_day=df_bebidas.iat[4,3]
print("Ventas del Día:", ventas_day)

Ventas del Día:  12
Ventas del Día: 12